* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

.form {
  margin: 10px;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 10px;
}

.group-1 {
  border: none;
  padding: 0 16px;
  margin: 0px;
}

.h3 {
  font-size: 16px;
  margin: 15px 0 10px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.name-input {
  display: block;
  margin-bottom: 5px;
}

.input-style {
  display: block;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 300px;
}

.textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 42px;
}

.checkbox {
  cursor: pointer;
}

.button {
    display: inline-block;
    margin: 0px 16px 17px;
    padding: 7px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
