html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding: 15px 15px;
  margin: 0 auto;
  border-bottom: solid black 1px;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.black-box {
  width: 50px;
  height: 50px;
  background-color: black;
}

ul {
  padding: 0px;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  color: black;
}

.tel {
  text-decoration: none;
  margin: auto 0px;
}
